<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mattqunell.bignerdranch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".geo_quiz.QuizActivity"
            android:label="@string/geo_quiz">
        </activity>
        <activity
            android:name=".geo_quiz.CheatActivity"
            android:label="@string/geo_quiz">
        </activity>
        <activity
            android:name=".criminal_intent.CrimePagerActivity"
            android:label="@string/criminal_intent"
            android:parentActivityName=".criminal_intent.CrimeListActivity">
        </activity>
        <activity
            android:name=".criminal_intent.CrimeListActivity"
            android:label="@string/criminal_intent">
        </activity>

        <!--
         authorities: The location files from other apps will be saved to
         exported: Whether other apps can access this without first gaining permission
         grantUriPermissions: Ability to grant write permission after sending other apps an intent
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.mattqunell.bignerdranch.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>
</manifest>